body {
  background-color: #f0efe9;
}

.enter {
  background-color: #50e3a4;
  color: #46be8b;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  font-size: 35px;
  text-align: center;
  padding-bottom: 60px;
  font-weight: 400;
}
